@{
    Layout = null;
    ViewData["Title"] = "Criar Conta";
}
<!DOCTYPE html>
<html>
<head>
    <title> Gest - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/logIn.css" />
    <link rel="icon" type="image/x-icon" href="~/assets/logo.jpeg" />
</head>
<body>
    <div class="box">
        <form>
            <span class="text-center">Sing Up</span>
            <div class="input-container">
                <input type="text" required id="nome"/>
                <label>Nome</label>
            </div>
            <div class="input-container">
                <input type="text" required id="email"/>
                <label>Email</label>
            </div>
            <div class="input-container">
                <input type="password" required id="senha"/>
                <label>Password</label>
            </div>
            <div class="input-container">
                <input type="password" required id="senhaConf" />
                <label>Password Confirm</label>
            </div>
            <button type="button" class="btn" id="createA" onclick="CreateA()">submit</button>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>